section {
    padding: 10px 20px;
    text-align: center;
    color: #FFBAD2;
}

h1 {
    color: #E47297;
}

#estas-invitado {
}

#galeria {
}

#donde-cuando {
}

#vestimenta {
    text-align: center;
}

#mesa-regalos {
    text-align: center;
}

body {
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
    background-color: white;
}

footer {
    width:100%;
    min-height: 500px;
    background-image: url('../img/foto-fondo-footer.jpeg');
    background-position: 50% 50%;
    background-size: cover;

    text-align: center;
    color: white;
}
