section {
    padding: 14px 20px;
    text-align: center;
}


#estas-invitado {
}

#galeria {
}

#donde-cuando {
    background-color: #f1cbd1;
    color: #eb586e;
}

#vestimenta {
    text-align: center;
}

#mesa-regalos {
    text-align: center;
}

body {
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
    background-color: white;
}

footer {
    width:100%;
    min-height: 500px;
    background-image: url('../img/foto-fondo-footer.jpeg');
    background-position: 50% 50%;
    background-size: cover;

    text-align: center;
    color: white;
}
