body {
    /*font-family:'Malgun Gothic';*/
    font-family: 'Gabriola';
    font-size: 20pt;
    font-weight: 100;

    background-color: rgb(251, 195, 233);
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
}

h1 {
    font-weight: bold;
}

section {
    padding: 14px 20px;
    text-align: center;
}

#estas-invitado {
    background-image: url('../img/galeria/principal.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    min-height: 400px;

    font-family:'Impact';
    color: rgb(255, 131, 216);
}

#estas-invitado h1 {
    font-size: 45pt;
}

#estas-invitado h2 {
    font-size: 35pt;
}

#estas-invitado h3 {
    font-size: 25pt;
}

#mis-xv {
    background-color: #fff0f0;
    background-image: url('../img/mis-xv.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    min-height: 400px;
}

#galeria {
    background-color: #ffe6f2;
    min-height: 400px;
}

#donde-cuando-pre {
    background-color:  #ffdfe2;
    background-image: url('../img/donde-cuando-pre.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    min-height: 400px;
}

#donde-cuando {
    background-color: #ffdfe2;
}

#familiares {
    background-color: #fff0f5;
}

#vestimenta {
    background-color: white;
}

#mesa-regalos {
    text-align: center;
    background-color: #e6e6fa;
}

#no-faltes-pre {
    background-image: url('../img/galeria/no-faltes-pre.jpeg');
    background-position: 50% 50%;
    background-size: cover;
}

#no-faltes {
    background-image: url('../img/celebremos-juntos-pos.jpeg');
    background-position: 50% 50%;
    background-size: cover;
}
